In [23]:
import pandas as pd

In [24]:
df = pd.read_csv('glassdoor_jobs.csv')

In [25]:
df

,Unnamed: 0,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Data Scientist,$53K-$91K (Glassdoor est.),"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research\n3.8,"Albuquerque, NM","Goleta, CA",501 to 1000 employees,1973,Company - Private,Aerospace & Defense,Aerospace & Defense,$50 to $100 million (USD),-1
1,1,Healthcare Data Scientist,$63K-$112K (Glassdoor est.),What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System\n3.4,"Linthicum, MD","Baltimore, MD",10000+ employees,1984,Other Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1
2,2,Data Scientist,$80K-$90K (Glassdoor est.),"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4\n4.8,"Clearwater, FL","Clearwater, FL",501 to 1000 employees,2010,Company - Private,Security Services,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$56K-$97K (Glassdoor est.),*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL\n3.8,"Richland, WA","Richland, WA",1001 to 5000 employees,1965,Government,Energy,"Oil, Gas, Energy & Utilities",$500 million to $1 billion (USD),"Oak Ridge National Laboratory, National Renewa..."
4,4,Data Scientist,$86K-$143K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951,951,Senior Data Engineer,$72K-$133K (Glassdoor est.),THE CHALLENGE\nEventbrite has a world-class da...,4.4,Eventbrite\n4.4,"Nashville, TN","San Francisco, CA",1001 to 5000 employees,2006,Company - Public,Internet,Information Technology,$100 to $500 million (USD),"See Tickets, TicketWeb, Vendini"
952,952,"Project Scientist - Auton Lab, Robotics Institute",$56K-$91K (Glassdoor est.),The Auton Lab at Carnegie Mellon University is...,2.6,Software Engineering Institute\n2.6,"Pittsburgh, PA","Pittsburgh, PA",501 to 1000 employees,1984,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1
953,953,Data Science Manager,$95K-$160K (Glassdoor est.),Data Science ManagerResponsibilities:\n\nOvers...,3.2,"Numeric, LLC\n3.2","Allentown, PA","Chadds Ford, PA",1 to 50 employees,-1,Company - Private,Staffing & Outsourcing,Business Services,$5 to $10 million (USD),-1
954,954,Data Engineer,-1,Loading...\n\nTitle: Data Engineer\n\nLocation...,4.8,IGNW\n4.8,"Austin, TX","Portland, OR",201 to 500 employees,2015,Company - Private,IT Services,Information Technology,$25 to $50 million (USD),Slalom
955,955,Research Scientist – Security and Privacy,$61K-$126K (Glassdoor est.),Returning Candidate? Log back in to the Career...,3.6,Riverside Research Institute\n3.6,"Beavercreek, OH","Arlington, VA",501 to 1000 employees,1967,Nonprofit Organization,Federal Agencies,Government,$50 to $100 million (USD),-1

In [26]:
df['Salary Estimate'].value_counts()

Salary Estimate
-1                                  214
$86K-$143K (Glassdoor est.)           6
$54K-$115K (Glassdoor est.)           6
$49K-$113K (Glassdoor est.)           6
$21-$34 Per Hour(Glassdoor est.)      6
                                   ...
$74K-$119K (Glassdoor est.)           1
$55K-$97K (Glassdoor est.)            1
$15K-$16K(Employer est.)              1
$61K-$106K (Glassdoor est.)           1
$62K-$113K (Glassdoor est.)           1
Name: count, Length: 417, dtype: int64

## what we can do for cleaning
1. remove unnamed column
2. remove data with salary estimates as -1 , take average of salary estimates
3. job description seems take skills form it
4. make yes or no field for checking if headquarters and location are same 
5. average out revenue
6. take only count of competitors
7. remove \n after company name
8. take upper limiy of size 
9. take only ratings greater than 0 rest put to 0
10. instead of founded get age of company

In [27]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Headquarters', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'Competitors'],
      dtype='object')

In [28]:
df.drop(columns=['Unnamed: 0'],inplace=True)

In [30]:
df = df[df['Salary Estimate'] != '-1']

In [31]:
df.shape

(742, 14)

In [32]:
li = []
for index,row in df.iterrows():
    start = row['Salary Estimate'].split('(')[0].split('$')[1].split('K')[0]
    end = row['Salary Estimate'].split('(')[0].split('$')[2].split('K')[0]
    li.append((int(''.join(char for char in start if char.isdigit())) + int(''.join(char for char in end if char.isdigit())))/2)
df['Salary Estimate'] = li

C:\Users\tusha\AppData\Local\Temp\ipykernel_19860\2593298644.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Salary Estimate'] = li

In [33]:
li = []
for index, row in df.iterrows():
    revenue = row['Revenue'].split('$')
    if len(revenue) >= 3:
        start = revenue[1].split()[0]
        end = revenue[2].split()[0]
        li.append((int(''.join(char for char in start if char.isdigit())) + int(''.join(char for char in end if char.isdigit())))/2)
    else:
        li.append(None)

df['Revenue'] = li

C:\Users\tusha\AppData\Local\Temp\ipykernel_19860\1585650615.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Revenue'] = li

In [34]:
df['Company Name'] = df['Company Name'].str.split('\n').str[0]

C:\Users\tusha\AppData\Local\Temp\ipykernel_19860\1312275484.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Company Name'] = df['Company Name'].str.split('\n').str[0]

In [35]:
df['Size'].value_counts()

Size
1001 to 5000 employees     150
501 to 1000 employees      134
10000+ employees           130
201 to 500 employees       117
51 to 200 employees         94
5001 to 10000 employees     76
1 to 50 employees           31
Unknown                      9
-1                           1
Name: count, dtype: int64

In [36]:
df = df[df['Size'] != '-1']

In [37]:
li = []
for index,row in df.iterrows():
    if row['Size']!='Unknown':
        size = row['Size'].split('to')[0].split('employees')[0]
        li.append((int(''.join(char for char in size if char.isdigit()))))
    else:
        li.append(None)
df['Size'] = li

In [38]:
li = []
for index,row in df.iterrows():
    if row['Competitors']!='-1':
        li.append(len(row['Competitors'].split(',')))
    else:
        li.append(0)
df['Competitors'] = li

In [39]:
li = []
for index,row in df.iterrows():
    if row['Rating']<0:
        li.append(0)
    else:
        li.append(row['Rating'])
df['Rating'] = li

In [40]:
df['Founded'] = 2023 - df['Founded']

In [41]:
df.rename(columns={'Founded':'Age'},inplace=True)

In [42]:
df['Is_Headquarter'] = (df['Headquarters']==df['Location'])

In [43]:
df['Python'] = df['Job Description'].apply(lambda x:1 if 'python' in x.lower() else 0)
df['Spark'] = df['Job Description'].apply(lambda x:1 if 'spark' in x.lower() else 0)
df['Aws'] = df['Job Description'].apply(lambda x:1 if 'aws' in x.lower() else 0)
df['Excel'] = df['Job Description'].apply(lambda x:1 if 'excel' in x.lower() else 0)

In [44]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Age,Type of ownership,Industry,Sector,Revenue,Competitors,Is_Headquarter,Python,Spark,Aws,Excel
0,Data Scientist,72.0,"Data Scientist\nLocation: Albuquerque, NM\nEdu...",3.8,Tecolote Research,"Albuquerque, NM","Goleta, CA",501.0,50,Company - Private,Aerospace & Defense,Aerospace & Defense,75.0,0,False,1,0,0,1
1,Healthcare Data Scientist,87.5,What You Will Do:\n\nI. General Summary\n\nThe...,3.4,University of Maryland Medical System,"Linthicum, MD","Baltimore, MD",10000.0,39,Other Organization,Health Care Services & Hospitals,Health Care,3.5,0,False,1,0,0,0
2,Data Scientist,85.0,"KnowBe4, Inc. is a high growth information sec...",4.8,KnowBe4,"Clearwater, FL","Clearwater, FL",501.0,13,Company - Private,Security Services,Business Services,300.0,0,True,1,1,0,1
3,Data Scientist,76.5,*Organization and Job ID**\nJob ID: 310709\n\n...,3.8,PNNL,"Richland, WA","Richland, WA",1001.0,58,Government,Energy,"Oil, Gas, Energy & Utilities",250.5,3,True,1,0,0,0
4,Data Scientist,114.5,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51.0,25,Company - Private,Advertising & Marketing,Business Services,NaN,3,True,1,0,0,1

In [46]:
df.to_csv('cleaned_salary_data.csv')